:root{
  --Blue-50: hsl(231, 100%, 99%);
  --Blue-100: hsl(218, 100%, 97%);
  --Blue-200: hsl(206, 94%, 87%);
  --Blue-300: hsl(228, 100%, 84%);
  --Blue-500: hsl(213, 100%, 31%);
  --Blue-950: hsl(213, 96%, 18%);
  --Purple-200: hsl(229, 24%, 87%);
  --Purple-600: hsl(243, 100%, 62%);
  --Red-500: hsl(354, 84%, 57%);
  --Grey-500: hsl(231, 11%, 63%);
  --White: hsl(0, 100%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  list-style: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--White) inset !important;
  /* -webkit-text-fill-color: var(--Blue-950) !important; */
}

.form-container{
  display: flex;
  padding: 1rem;
  border-radius: 28px;
  background-color: var(--White);
}

.step-panel-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  margin: 0 4.8rem;
}

.steps-info-container{
  width: 274px;
  height: 555px;
  background-color: var(--Purple-600);
  border-radius: 1rem;
  padding: 32px;
  position: relative;
  overflow: hidden;
}

.banner{
  position: absolute;
  bottom: -8px;
  left: 0;
}

.steps > li {
  display: flex;
  color: var(--White);
  cursor: default;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;

  & .step-num{
    width: 36px;
    height: 36px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-weight: bold;
    margin-right: 1rem;
  }

  & div{
    text-align: left;
  }
  
  & h2 {
    font-size: 11px;
  }
  
  & p {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
  }
}

.active-step{
  color: var(--Blue-950);
  background-color: var(--Blue-200);
  border-color: var(--Blue-200);
}

.step-detail{
  & h2{
    color: var(--Grey-500);
    font-size: 1rem;
  }
}

header{
  text-align: left;
  margin-bottom: 2rem;

  & h1{
    font-size: 1.7rem;
    margin-top: 20px;
    margin-bottom: .5rem;
    color: var(--Blue-950);
  }

  & h2{
    color: var(--Grey-500);
    font-weight: 500;
    font-size: 1rem;
  }
}

.inp-container{
  display: grid;
  text-align: left;
  position: relative;
  color: var(--Blue-950);

  & label{
    margin-bottom: .3rem;
  }
}

.input{
  height: 46px;
  width: 480px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid var(--Blue-300);
  color: var(--Blue-950);
  font-weight: 700;
  margin-bottom: 1rem;
  outline: none;

  &:focus{
    border-color: var(--Purple-600);
  }
}

.error{
  color: var(--Red-500);
  font-weight: 500;
  position: absolute;
  right: 0;;
}

.input-err{
  border-color: var(--Red-500);
}

.plans-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 480px;
  height: 213px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.plan{
  border: 1px solid var(--Blue-200);
  background-color: var(--White);
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

.plan img{
  width: 40px;
  margin: 0rem 0rem 3rem 0rem;
}

.plan-detail{
  & h3{
    color: var(--Blue-950);
    margin-bottom: 5px;
  }
  & p{
    color: var(--Grey-500);
  }
}

.plan:hover{
  border-color: var(--Purple-600);
}

.active-plan{
  background-color: var(--Blue-50);
  border-color: var(--Purple-600);
}

.free-detail{
  color: var(--Blue-950);
  font-weight: 500;
  margin-top: 5px;
}

.toggle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Blue-950);
  font-weight: 500;
}

.toggle-container > .toggle {
  background-color: var(--Blue-950);
  height: 24px;
  width: 50px;
  border-radius: 25px;
  margin: 0 1rem 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-switch{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  transition: left .5s ease;
  background-color: var(--White);
}

.right{
  left: 28px;
}

.active-duration{
  color: var(--Grey-500);
}

.add-on {
  display: flex;
  align-items: center;
  border: 1px solid var(--Blue-300);
  width: 480px;
  height: 84px;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.add-on:hover{
  border-color: var(--Purple-600);
}

.add-on-head{
  & p{
    color: var(--Grey-500);
    font-size: 14px;
  }
}

.add-on-info{
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-addOn{
  background-color: var(--Blue-100);
  border-color: var(--Purple-600);
}

.state{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Blue-300);
  border-radius: 4px;
  margin-right: 1rem;
}

.add-on-price{
  color: var(--Purple-600);
}

.checkmark{
  background-color: var(--Purple-600);
  border: none;
}

.summary-container{
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 8px;
  background-color: var(--Blue-100);
  margin-bottom: 1.5rem;
}

.final-plan{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--Grey-500);

  & div{
    text-align: left;

    & h3{
      color: var(--Blue-950);
    }
  }
}

.change{
  color: var(--Grey-500);
  text-decoration: underline;
}

.change:hover{
  color: var(--Purple-600);
  cursor: pointer;
}

.final-plan-price{
  font-weight: 700;
  color: var(--Blue-950);
  font-size: 1.1rem;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.total-add-on{
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.2rem;
  
  & h2{
    font-weight: 500;
    color: var(--Grey-500);
  }

  & span{
    font-weight: 500;
    color: var(--Blue-950);
  }
}

.total{
  & p{
    color: var(--Grey-500);
  }

  & span{
    color: var(--Purple-600);
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.btn-container{
  display: flex;
  justify-content: space-between;
  
  & button{
    font-size: 14px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    
  }
}

.btn-left > button{
  background-color: var(--White);
  cursor: pointer;
  color: var(--Grey-500);
}

.btn-right > button{
  color: var(--White);
  cursor: pointer;
}

.next-btn{
  background-color: var(--Blue-950);
}

.next-btn:hover{
  background-color: var(--Blue-500);
}

.confirm-btn{
  background-color: var(--Purple-600);
}

.success-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img{
    margin-bottom: 2rem;
  }

  & h1{
    font-size: 2rem;
    color: var(--Blue-950);
    margin-bottom: 1rem;
  }

  & p{
    color: var(--Grey-500);
  }
}