:root{
  --Blue-50: hsl(231, 100%, 99%);
  --Blue-100: hsl(218, 100%, 97%);
  --Blue-200: hsl(206, 94%, 87%);
  --Blue-300: hsl(228, 100%, 84%);
  --Blue-950: hsl(213, 96%, 18%);
  --Purple-200: hsl(229, 24%, 87%);
  --Purple-600: hsl(243, 100%, 62%);
  --Red-500: hsl(354, 84%, 57%);
  --Grey-500: hsl(231, 11%, 63%);
  --White: hsl(0, 100%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  list-style: none;
}

.form-container{
  display: flex;
  padding: 1rem;
  border-radius: 28px;
  background-color: var(--White);
}

.step-panel-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  margin: 0 4.8rem;
}

.steps-info-container{
  width: 274px;
  height: 535px;
  background-color: var(--Purple-600);
  border-radius: 1rem;
  padding: 32px;
  position: relative;
  overflow: hidden;
}

.banner{
  position: absolute;
  bottom: -8px;
  left: 0;
}

.steps > li {
  display: flex;
  color: var(--White);
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;

  & .step-num{
    width: 36px;
    height: 36px;
    border: 2px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-weight: bold;
    margin-right: 1rem;
  }

  & div{
    text-align: left;
  }
  
  & h2 {
    font-size: 10px;
  }
  
  & p {
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
  }
}

header{
  text-align: left;
  margin-bottom: 2rem;

  & h1{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

.inp-container{
  display: grid;
  text-align: left;
  position: relative;

  & input{
    height: 46px;
    width: 480px;
    padding: 0 14px;
    border-radius: 8px;
    border: 1px solid;
  }
}

.error{
  color: red;
  position: absolute;
  right: 0;;
}

.plans-container{
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: 208px;
  gap: 1rem;
}

.plan{
  border: 1px solid var(--Blue-200);
  background-color: var(--White);
  width: 100%;
  height: 80%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}

.plan img{
  width: 40px;
}

.active-plan{
  background-color: var(--Blue-50);
  border-color: var(--Purple-600);
}

.toggle-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container > .toggle {
  background-color: var(--Blue-950);
  height: 24px;
  width: 50px;
  border-radius: 25px;
  margin: 0 1rem 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-switch{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  /* top: 2px; */
  left: 4px;
  transition: left .6s ease;
  background-color: var(--White);
}

.right{
  left: 28px
}

.add-on {
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 480px;
  height: 84px;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.add-on-info{
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-addOn{
  background-color: var(--Blue-100);
  border-color: var(--Purple-600);
}

.state{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 1rem;
}

.checkmark{
  background-color: var(--Purple-600);
}

.final-plan{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-add-on{
  & li{
    display: flex;
    justify-content: space-between;
  }
}

.btn-container{
  display: flex;
  justify-content: space-between;
  
  & button{
    font-size: 13px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    
  }
}

.btn-left > button{
  background-color: var(--White);
  cursor: pointer;
}

.btn-right > button{
  background-color: var(--Blue-950);
  color: var(--White);
  cursor: pointer;
}